.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    color: palevioletred;
}

.nav-logo p{
    color: palevioletred;
    font-size: 28px;
    font-weight: 600;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 50px;
    color: #626262;
    font-size: 18px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    width: 80%;
    height: 2px;
    border-radius: 10px;
    background: palevioletred;
}

